body {
  text-align: center;
  font-family: Helvetica, Verdana, sans-serif;
  max-width: 40em;
  padding: 1em;
  margin: 3em auto;
  border: 1px solid black;  
}

body, input, button {
  font-size: 20px;
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: 2em;
}

#outcome {
  margin:1.5em 0;
  font-weight: bold;
  font-size: 40px;
}

button {
  font-size: 25px;
}

input {
  max-width: 5em;
}
